table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

* {
  margin: 0.5rem;
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.hidden{
  display: none;
}